# data science
numpy
scipy
scikit-learn
pandas
matplotlib
seaborn
IPython
ipywidgets

# deep learning
torch
torchvision
torchaudio
huggingface_hub
transformers
datasets
evaluate
accelerate
peft
gradio

# other libs
tqdm
librosa
soundfile